{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/CSS/Index.css') }}">
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="rcorners">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra, lectus quis elementum placerat,
                mauris purus ornare mi, sit amet feugiat risus magna id mi. Phasellus vitae nunc in felis auctor
                suscipit
                ultricies sit amet magna. In sit amet semper est. In vel quam risus. Integer imperdiet finibus neque.
                Praesent condimentum ullamcorper congue. Aliquam congue finibus molestie. Sed consequat egestas ipsum.
                Fusce
                a sem bibendum, scelerisque tellus consequat, imperdiet diam. Nam nec rutrum metus. Nunc commodo felis
                eu
                est maximus, vel volutpat orci volutpat. Mauris tincidunt, erat viverra scelerisque convallis, ipsum
                urna
                ullamcorper tortor, nec tristique sem lacus ac ex. Phasellus accumsan, eros sit amet facilisis suscipit,
                tortor massa rhoncus nisi, facilisis auctor dui eros ut elit. Maecenas id volutpat sapien. Curabitur
                egestas
                porttitor interdum. Etiam id nulla turpis.

                Praesent at tempor sapien, id ultricies orci. Praesent ut vulputate nibh. Donec justo nisl, viverra nec
                iaculis id, pretium eget leo. Nulla nec eros massa. Quisque ut lorem molestie, aliquet leo sed,
                convallis
                ante. Fusce eget felis libero. Maecenas placerat neque id ligula faucibus, id consectetur ligula porta.
                Etiam vitae ipsum quis leo sollicitudin imperdiet. Nullam lobortis posuere sollicitudin. Nam libero
                erat,
                tristique et malesuada nec, scelerisque sit amet mi. Maecenas consequat tempor dictum. Curabitur
                efficitur
                ullamcorper lacus, egestas dapibus neque commodo sed. Praesent at lectus posuere, auctor purus auctor,
                varius nibh. Sed ac quam quis dolor dignissim volutpat. Sed placerat augue augue, vitae scelerisque
                neque
                rhoncus ultrices.
            </p>
        </div>
    </div>


    <div class="container">
        <div class="rcorners">
            <h2>About PTSD</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra, lectus quis elementum placerat,
                mauris purus ornare mi, sit amet feugiat risus magna id mi. Phasellus vitae nunc in felis auctor
                suscipit
                ultricies sit amet magna. In sit amet semper est. In vel quam risus. Integer imperdiet finibus neque.
                Praesent condimentum ullamcorper congue. Aliquam congue finibus molestie. Sed consequat egestas ipsum.
                Fusce
                a sem bibendum, scelerisque tellus consequat, imperdiet diam. Nam nec rutrum metus. Nunc commodo felis
                eu
                est maximus, vel volutpat orci volutpat. Mauris tincidunt, erat viverra scelerisque convallis, ipsum
                urna
                ullamcorper tortor, nec tristique sem lacus ac ex. Phasellus accumsan, eros sit amet facilisis suscipit,
                tortor massa rhoncus nisi, facilisis auctor dui eros ut elit. Maecenas id volutpat sapien. Curabitur
                egestas
                porttitor interdum. Etiam id nulla turpis.

                Praesent at tempor sapien, id ultricies orci. Praesent ut vulputate nibh. Donec justo nisl, viverra nec
                iaculis id, pretium eget leo. Nulla nec eros massa. Quisque ut lorem molestie, aliquet leo sed,
                convallis
                ante. Fusce eget felis libero. Maecenas placerat neque id ligula faucibus, id consectetur ligula porta.
                Etiam vitae ipsum quis leo sollicitudin imperdiet. Nullam lobortis posuere sollicitudin. Nam libero
                erat,
                tristique et malesuada nec, scelerisque sit amet mi. Maecenas consequat tempor dictum. Curabitur
                efficitur
                ullamcorper lacus, egestas dapibus neque commodo sed. Praesent at lectus posuere, auctor purus auctor,
                varius nibh. Sed ac quam quis dolor dignissim volutpat. Sed placerat augue augue, vitae scelerisque
                neque
                rhoncus ultrices.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="rcorners">
            <h2>About the product</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra, lectus quis elementum placerat,
                mauris purus ornare mi, sit amet feugiat risus magna id mi. Phasellus vitae nunc in felis auctor
                suscipit
                ultricies sit amet magna. In sit amet semper est. In vel quam risus. Integer imperdiet finibus neque.
                Praesent condimentum ullamcorper congue. Aliquam congue finibus molestie. Sed consequat egestas ipsum.
                Fusce
                a sem bibendum, scelerisque tellus consequat, imperdiet diam. Nam nec rutrum metus. Nunc commodo felis
                eu
                est maximus, vel volutpat orci volutpat. Mauris tincidunt, erat viverra scelerisque convallis, ipsum
                urna
                ullamcorper tortor, nec tristique sem lacus ac ex. Phasellus accumsan, eros sit amet facilisis suscipit,
                tortor massa rhoncus nisi, facilisis auctor dui eros ut elit. Maecenas id volutpat sapien. Curabitur
                egestas
                porttitor interdum. Etiam id nulla turpis.

                Praesent at tempor sapien, id ultricies orci. Praesent ut vulputate nibh. Donec justo nisl, viverra nec
                iaculis id, pretium eget leo. Nulla nec eros massa. Quisque ut lorem molestie, aliquet leo sed,
                convallis
                ante. Fusce eget felis libero. Maecenas placerat neque id ligula faucibus, id consectetur ligula porta.
                Etiam vitae ipsum quis leo sollicitudin imperdiet. Nullam lobortis posuere sollicitudin. Nam libero
                erat,
                tristique et malesuada nec, scelerisque sit amet mi. Maecenas consequat tempor dictum. Curabitur
                efficitur
                ullamcorper lacus, egestas dapibus neque commodo sed. Praesent at lectus posuere, auctor purus auctor,
                varius nibh. Sed ac quam quis dolor dignissim volutpat. Sed placerat augue augue, vitae scelerisque
                neque
                rhoncus ultrices.
            </p>
        </div>
    </div>
{% endblock %}
