{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/CSS/Index.css') }}">
    <link href="{{ asset('asset/CSS/Base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="rcorners">
            <h2>About PTSD</h2>
            <p>Posttraumatic stress disorder, or PTSD, is a serious potentially debilitating condition that can occur in
                people who have experienced or witnessed a natural disaster, serious accident, terrorist incident,
                sudden death of a loved one, war, violent personal assault such as rape, or other life-threatening
                events. Research has recently shown that PTSD among military personnel may be a physical brain injury,
                specifically of damaged tissue, caused by blasts during combat.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="rcorners">
            <h2>About the product</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra, lectus quis elementum placerat,
                mauris purus ornare mi, sit amet feugiat risus magna id mi. Phasellus vitae nunc in felis auctor
                suscipit
                ultricies sit amet magna. In sit amet semper est. In vel quam risus. Integer imperdiet finibus neque.
                Praesent condimentum ullamcorper congue. Aliquam congue finibus molestie. Sed consequat egestas ipsum.
                Fusce
                a sem bibendum, scelerisque tellus consequat, imperdiet diam. Nam nec rutrum metus. Nunc commodo felis
                eu
                est maximus, vel volutpat orci volutpat. Mauris tincidunt, erat viverra scelerisque convallis, ipsum
                urna
                ullamcorper tortor, nec tristique sem lacus ac ex. Phasellus accumsan, eros sit amet facilisis suscipit,
                tortor massa rhoncus nisi, facilisis auctor dui eros ut elit. Maecenas id volutpat sapien. Curabitur
                egestas
                porttitor interdum. Etiam id nulla turpis.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="rcorners">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra, lectus quis elementum placerat,
                mauris purus ornare mi, sit amet feugiat risus magna id mi. Phasellus vitae nunc in felis auctor
                suscipit
                ultricies sit amet magna. In sit amet semper est. In vel quam risus. Integer imperdiet finibus neque.
                Praesent condimentum ullamcorper congue. Aliquam congue finibus molestie. Sed consequat egestas ipsum.
                Fusce
                a sem bibendum, scelerisque tellus consequat, imperdiet diam. Nam nec rutrum metus. Nunc commodo felis
                eu
                est maximus, vel volutpat orci volutpat. Mauris tincidunt, erat viverra scelerisque convallis, ipsum
                urna
                ullamcorper tortor, nec tristique sem lacus ac ex. Phasellus accumsan, eros sit amet facilisis suscipit,
                tortor massa rhoncus nisi, facilisis auctor dui eros ut elit. Maecenas id volutpat sapien. Curabitur
                egestas
                porttitor interdum. Etiam id nulla turpis.

            </p>
        </div>
    </div>
{% endblock %}
