#form_diary{
    display: inline-block;
    text-align: center;
}

#app_bundle_diary_form_title{
    width: auto;
}

#app_bundle_diary_form_text{
    width: 1100px;
    height: 300px;
}

#app_bundle_diary_form_submit{
    color: black;
}

#form_diary_title{
    color: black !important;
}

.rcorners {
    margin-top: 10px;
    border-radius: 25px;
    background: #004161;
    padding: 20px;
    width: auto;
    height: auto;
}

h2{
    text-align: center;
}