.loginrcorners {
    color: white;
    border-radius: 25px;
    background: #004161;
    text-align: center;
    padding: 20px;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}


input {
    color: black ;
}

#login_remember_me{
    display: block !important;
    float: right !important;

}

#form-wrapper{
    display: block;
    float: left;
    margin-bottom: 5px;
    color: white !important;
}

#login_submit{
    margin-top: 20px;
}

