.rcorners {
    margin-top: 10px;
    color: white;
    border-radius: 25px;
    background: #004161;
    padding: 20px;
    width: auto;
    height: auto;
}

#app_bundle_ptsdtest_form_submit{
    color: black;
}